<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="clover.xml" />
        </report>
    </coverage>

    <logging>
        <log type="coverage-html" target="tests/_output/coverage.html/" lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="tests/_output/coverage.xml"/>
        <log type="coverage-php" target="tests/_output/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
    <testsuites>
        <testsuite name="default">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>